<div class="row">
  <div class="col s3">

    <h2 class="map-name">Indonesia</h2>
    <strong>Map Filter</strong><a href="/pages/page2"><i class="fa fa-refresh fa-2x" aria-hidden="true"></i></a>
    <p>Population Density</p>
    <form action="#">
        <p class="range-field">
          <input type="range" class="filled-in" id="test5" min="0" max="2000" />
        </p>
        <span class="left-align">0</span>
        <span class="rightside">2000</span>
    </form>
    <p>Income</p>
    <form action="#">
        <p class="range-field">
          <input type="range" class="filled-in" id="test5" min="0" max="1000" />
        </p>
        <span class="left-align">$0</span>
        <span class="rightside">$2000</span>
    </form>
    <p>Area Size</p>
    <form action="#">
        <p class="range-field">
          <input type="range" class="filled-in" id="test5" min="0" max="1000" />
        </p>
        <span class="left-align">0 Km</span>
        <span class="rightside">1000 Km</span>
    </form>
    <p>Distance from Grid</p>
    <form action="#">
        <p class="range-field">
          <input type="range" class="filled-in" id="test5" min="0" max="1000" />
        </p>
        <span class="left-align">0 Km</span>
        <span class="rightside">1000 Km</span>
    </form>

    <p>
      <input type="checkbox" id="1" />
      <label for="1">Solar Irradiance</label>
    </p>
    <p>
      <input type="checkbox" id="2" />
      <label for="2">Windflow</label>
    </p>
    <p>
      <input type="checkbox" id="3" />
      <label for="3">Rivers</label>
    </p>
    <p>
      <input type="checkbox" id="4" />
      <label for="4">Grid Lines/Substations</label>
    </p>
    <p>
      <input type="checkbox" id="5" />
      <label for="5">Roads</label>
    </p>
    <p>
        <a href="/pages/page4">
            <input type="checkbox" id="6" checked="checked" />
            <label for="6">On-grid</label>
        </a>
    </p>
    <p>
      <input type="checkbox" id="7" />
      <label for="7">Off-grid</label>
    </p>


  </div>
  <div class="col s9">
    <a href="/pages/result">
      <%=image_tag("Screen Shot 2017-09-10 at 5.04.34 AM.png", alt: "map2 Image", class: "responsive-img")%>
    </a>
  </div>
</div>
