/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "materialize/extras/nouislider";
 @import "materialize";

 nav.navbar.navbar-default.navbar-fixed-top {
     background-color: white;
     border-color: white;
     color:black;
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
 }

 i.fa.fa-1x {
   margin-left: 0.75em;
   margin-right:0.75em;
   color: #8F8F90;
 }

.fa-1x{
     vertical-align: middle;
 }

 span.user {
   margin-left: 0.75em;
   margin-right:0.75em;
 }

 .container-fluid div.text{

 }

 .container-fluid div.map{

 }

span.value{
  display:none!important;
}

.mycheckbox{
  margin-top:5px;
  margin-left:5px;
}

.pull-left {
  text-align: left;
}

label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: normal;
}

input.rightside{
  margin-left:200px;
}

nav {
    color: #fff;
    background-color: white;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    color: black;
}

span.rightside {
  float:right;
}

i.fa.fa-refresh.fa-2x{
  float:right;
}

input[type="search"] {
height: 64px !important; /* or height of nav */
}
