/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "materialize";
 @import "materialize/extras/nouislider";

h1.hero{
  margin-top:4em;
}

a.waves-effect.waves-light.btn-large {
  margin-bottom:10em;
}

span.thumb.active{
  display:none;
}

a.brand-logo,
.fa.fa-refresh.fa-2x
{
  text-decoration: none;
  color:black;
}

a.brand-logo img{
  margin-left:2em;
}

i.fa.fa-sort-desc.fa-fw {
  margin-left: -1em;
  color: #8F8F90;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after
{
left:275px;
}

[type="checkbox"]:checked+label:before
{
left:275px;
}

 nav.navbar.navbar-default.navbar-fixed-top {
     background-color: white;
     border-color: white;
     color:black;
     box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.09);
 }

 i.fa.fa-1x {
   margin-left: 0.75em;
   margin-right:0.75em;
   color: #8F8F90;
 }

.fa-1x{
     vertical-align: middle;
 }

 span.user {
   margin-left: 0.75em;
   margin-right:0.75em;
 }

 .container-fluid div.text{

 }

 .container-fluid div.map{

 }

span.value{
  display:none!important;
}

.mycheckbox{
  margin-top:5px;
  margin-left:5px;
}

.pull-left {
  text-align: left;
}

label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: normal;
}

input.rightside{
  margin-left:200px;
}

nav {
    color: #fff;
    background-color: white;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    color: black;
}

span.rightside {
  float:right;
}

i.fa.fa-refresh.fa-2x{
  float:right;
}

input[type="search"] {
height: 64px !important; /* or height of nav */
}

#spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  left: 50%;
  top:40%;
  position:absolute;
  opacity:1;
  transition:opacity 500ms;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

div.spun {
  opacity: 0 ;
}

ul#nav-mobile li{
  margin-left:1em;
  margin-right:1em;
}
